
<div class="moverightright">

<%if logged_in?%>


<br><br>
  <h1 class=headsss>Dashboard</h1>
  <p id="notice"><%= notice %></p>










    <h3><%=link_to "View Your Outfits", user_outfits_path(@user), class:"headsss3"%></h3>

    <h3><%=link_to "View Your Closet", user_articles_path(@user), class:"headsss3"%></h3>

    <h3><%=link_to "Add a New Article", new_user_article_path(@user.id), class:"headsss3"%></h3>

    <h3><%= link_to 'Edit Profile', edit_user_path(@user), class: "headsss3" %></h3>

  <%else%>



<br>
<br>

<%end%>
